# Python cache / bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Git files (don’t copy repo metadata into Docker image)
.git
.gitignore

# Logs
*.log

# Environment variables / secrets
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/
